<nav mat-tab-nav-bar [backgroundColor]="background">
  <div class="mr-auto">
      <a mat-tab-link #books
      (click)="activeLink = books"
      [active]="activeLink == books"
      [routerLink]="['/books']" 
      routerLinkActive="router-link-active">Books</a>
      <a mat-tab-link #authors
      (click)="activeLink = authors"
      [active]="activeLink == authors"
      [routerLink]="['/authors']" 
      routerLinkActive="router-link-active">Authors</a>
  </div>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <span>Add Book</span>
    </button>
  </mat-menu>
  </nav>
