.mat-card-book {
    width: 250px;
    height: 375px;
}
.mat-card{
    display:flex;
    flex-direction: column;
  }
  
  .mat-card-header {
    flex-shrink: 0;
  }
  
  .mat-card-content{
    flex-grow: 1;
    overflow: auto;
  }