<div class="container-fluid mt-2">
    <div class="row">
        <mat-card class="col mx-2">
            <mat-card-title class="mt-2">
                <h3>{{book?.title}}</h3>
            </mat-card-title>
        </mat-card>
    </div>
    <div class="row">
        <mat-card class="col-lg-9 m-2" [ngClass]="{'order-last': isCollapsed(), 'order-first': !isCollapsed()}">
            <div class="row">
                <div class="col-12">
                    <mat-card-title>
                        <h4>Description</h4>
                    </mat-card-title>
                    <mat-card-content>
                        <p>{{book?.description}}</p>
                    </mat-card-content>
                    <mat-divider></mat-divider>
                </div>
                <div class="col-12">
                    <mat-card-title>Other</mat-card-title>
                    <mat-card-content>OVODSNJNVDOI</mat-card-content>
                </div>
            </div>
        </mat-card>
        <div class="col-lg m-2" [ngClass]="{'order-first': isCollapsed(), 'order-last': !isCollapsed()}" style=" text-align: center;">
            <mat-card class="row">
                <mat-card-title class="col-12 mt-2">
                    <h5>{{book?.title}}</h5>
                </mat-card-title>
                <mat-divider></mat-divider>
                <mat-card-content>
                    <div class="col-12">
                        <p class="mt-4">Release date: {{book?.releaseDate | date : 'dd.MM.yyyy'}}</p>
                    </div>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button 
                        type="button" 
                        routerLink="../form/{{book?.id}}" 
                        routerLinkActive="router-link-active">Edit</button>
                    <button mat-raised-button 
                        color="warn" 
                        type="button">Delete</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>
