<div class="container-fluid mt-3">
  <div class="row justify-content-center" *ngIf="book">
    <mat-card class="mat-card-book-form col-5 m-3">
      <mat-card-title>Add new book</mat-card-title>
      <form #form="ngForm" (ngSubmit)="save()">
        <mat-card-content class="row">
          <mat-form-field class="col-12">
            <input
              matInput
              name="title"
              placeholder="Title"
              [(ngModel)]="book.title"
              required
            />
          </mat-form-field>
          <mat-form-field class="col-12">
            <input
              matInput
              name="releaseDate"
              [matDatepicker]="releaseDate"
              placeholder="Release date"
              [(ngModel)]="book.releaseDate"
              required
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="releaseDate"
            ></mat-datepicker-toggle>
            <mat-datepicker #releaseDate></mat-datepicker>
          </mat-form-field>
          <mat-form-field class="col-12">
            <textarea
              matInput
              rows="5"
              name="description"
              placeholder="Description"
              [(ngModel)]="book.description"
              required
            >
            </textarea>
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button [disabled]="form?.invalid" type="submit">
              Submit
            </button>
          </mat-card-actions>
      </form>
    </mat-card>
    <div class="col-sm m-3">
      <app-book-card
        class="row justify-content-center"
        [book]="book"
        [disableLink]="true"
      ></app-book-card>
    </div>
  </div>
</div>
